.create-purchases{
    padding: 0 0 15px 0;
    background: #FF7070;
    position: relative;
    .create-purchases-wrapper{
        margin: 0 10px;
        position: relative;
        &__input{
            width: 100%;
            box-sizing: border-box;
            padding: 15px 10px;
            border: none;
            border-radius: 4px;
            box-shadow: 0 4px 4px rgba(0,0,0,.2);
        }
        &__create{
            position: absolute;
            top: 0;
            right: 0;
            padding:15px;
            border: none;
            background: transparent;
            outline: none;
        }
    }
    &__pointer{
        position: absolute;
        bottom: -10px;
        left: 40px;
    }
}

::-webkit-input-placeholder { color: #3d3d3d;font-weight:400; }
::-moz-placeholder          { color: #3d3d3d;font-weight:400; } /* Firefox 19+ */
:-moz-placeholder           { color: #3d3d3d;font-weight:400; } /* Firefox 18- */
:-ms-input-placeholder      { color: #3d3d3d;font-weight:400; }