.header{
    padding: 15px 0;
    background: #FF7070;
    &__title{
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        color: #ffffff;
    }
    &__account{
        border: none;
        background: transparent;
        padding: 0;
        float: right;
        img{
            width: 20px;
        }
    }
}