.user-account{
    position: absolute;
    box-shadow: 0 4px 4px rgba(0,0,0,.2);
    bottom: 0;
    width: 100%;
    z-index: 9999;
    border-radius: 4px;
    visibility: hidden;
    opacity: 0;
    transition: .2s ease;
    transform: translateY(100%);
    &__logout{
        display: block;
        width: 100%;
        background: #000000;
        border: none;
        padding: 15px 0;
        // border-radius: 4px;
        color: #ffffff;
    }
    &.visible{
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
    }
}