.header {
  padding: 15px 0;
  background: #FF7070;
}

.header__title {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
}

.header__account {
  border: none;
  background: transparent;
  padding: 0;
  float: right;
}

.header__account img {
  width: 20px;
}

.create-purchases {
  padding: 0 0 15px 0;
  background: #FF7070;
  position: relative;
}

.create-purchases .create-purchases-wrapper {
  margin: 0 10px;
  position: relative;
}

.create-purchases .create-purchases-wrapper__input {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px 10px;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.create-purchases .create-purchases-wrapper__create {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
  border: none;
  background: transparent;
  outline: none;
}

.create-purchases__pointer {
  position: absolute;
  bottom: -10px;
  left: 40px;
}

::-webkit-input-placeholder {
  color: #3d3d3d;
  font-weight: 400;
}

::-moz-placeholder {
  color: #3d3d3d;
  font-weight: 400;
}

/* Firefox 19+ */
:-moz-placeholder {
  color: #3d3d3d;
  font-weight: 400;
}

/* Firefox 18- */
:-ms-input-placeholder {
  color: #3d3d3d;
  font-weight: 400;
}

.user-account {
  position: absolute;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  bottom: 0;
  width: 100%;
  z-index: 9999;
  border-radius: 4px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.user-account__logout {
  display: block;
  width: 100%;
  background: #000000;
  border: none;
  padding: 15px 0;
  color: #ffffff;
}

.user-account.visible {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  visibility: visible;
}
/*# sourceMappingURL=index.css.map */