.purchases-list {
  margin: 30px 0 0 0;
}

.purchases-list .purchase {
  position: relative;
  background: #ffffff;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 15px 7px;
  border-radius: 4px;
  margin: 0 0 10px 0;
  overflow: hidden;
}

.purchases-list .purchase ul {
  margin: 0;
  padding: 0;
}

.purchases-list .purchase ul li {
  display: inline-block;
}

.purchases-list .purchase__name {
  width: 70%;
  font-size: 18px;
  font-weight: 500;
  color: #3d3d3d;
  padding: 0 0 0 4px;
}

.purchases-list .purchase__tools {
  width: 15%;
}

.purchases-list .purchase__tools button {
  display: block;
  width: 100%;
  border: none;
  background: transparent;
  outline: none;
}

.purchases-list .purchase__delete {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  background: #000000;
  color: #ffffff;
  padding: 18px 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.purchases-list .purchase__delete.active {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.purchases-list .purchase__close {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  background: #ffffff;
  border: none;
  padding: 18px 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  outline: none;
}

.purchases-list .purchase__close img {
  width: 25px;
}

.purchases-list .purchase__close.active {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.purchases-list__empty {
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  color: #3d3d3d;
  opacity: .3;
}
/*# sourceMappingURL=index.css.map */