.purchases-list {
  margin: 30px 0 0 0;
  .purchase {
    position: relative;
    background: #ffffff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 15px 7px;
    border-radius: 4px;
    margin: 0 0 10px 0;
    overflow: hidden;
    ul {
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
      }
    }
    &__name {
      width: 70%;
      font-size: 18px;
      font-weight: 500;
      color: #3d3d3d;
      padding: 0 0 0 4px;
    }
    &__tools {
      width: 15%;
      button {
        display: block;
        width: 100%;
        border: none;
        background: transparent;
        outline: none;
      }
    }
    &__delete{
      position: absolute;
      top: 0;
      left: 0;
      width: 80%;
      background: #000000;
      color: #ffffff;
      padding: 18px 0;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      border: none;
      transform: translateX(-100%);
      opacity: 0;
      transition: .2s ease;
      &.active{
        opacity: 1;
        transform: translateX(0);
      }
    }
    &__close{
      position: absolute;
      top: 0;
      right: 0;
      width: 20%;
      background: #ffffff;
      border: none;
      padding: 18px 0;
      transform: translateX(100%);
      opacity: 0;
      transition: .2s ease;
      outline: none;
      img{
        width: 25px;
      }
      &.active{
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
  &__empty{
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    color: #3d3d3d;
    opacity: .3;
  }
}
