.auth {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: linear-gradient(147deg, #ff5757, #4b98f2);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 7s ease infinite;
  animation: AnimationName 7s ease infinite;
}

.auth .error {
  background: #000000;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 300;
  text-align: center;
  padding: 10px;
}

.auth__logo {
  color: #ffffff;
  font-size: 24px;
  font-style: italic;
  font-weight: 900;
  text-align: center;
  margin: 100px 0 0 0;
}

.auth__input-group {
  padding: 20px 40px;
  margin: 50px 0 0 0;
}

.auth__input-group--title {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
  margin: 10px 0 0 0;
  font-weight: 300;
}

.auth__input-group--input {
  width: 100%;
  border: none;
  height: 50px;
  border-radius: 4px;
  margin: 4px 0 0 0;
  font-size: 18px;
  color: #3d3d3d;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  /* Firefox, other Gecko */
  box-sizing: border-box;
  padding: 15px 15px;
  -webkit-box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
}

.auth__input-group--sign-in {
  padding: 15px;
  display: block;
  background: #000000;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 300;
  font-size: 16px;
  width: 100%;
  margin: 20px 0 20px 0;
}

.auth__have-not-account-text {
  color: #ffffff;
  font-weight: 300;
  margin: 4px 0 0 0;
  display: inline-block;
}

.auth__sign-up {
  padding: 7px 20px;
  background: #000000;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 300;
  font-size: 16px;
  display: inline-block;
  float: right;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 18% 0%;
  }
  50% {
    background-position: 83% 100%;
  }
  100% {
    background-position: 18% 0%;
  }
}

@keyframes AnimationName {
  0% {
    background-position: 18% 0%;
  }
  50% {
    background-position: 83% 100%;
  }
  100% {
    background-position: 18% 0%;
  }
}

.auth-preloader {
  width: 20px;
  height: 20px;
  border: 2px solid #3d3d3d;
  border-top-color: #ffffff;
  border-radius: 100%;
  -webkit-animation: preloader 2s linear infinite;
          animation: preloader 2s linear infinite;
  margin: 0 auto;
}

@-webkit-keyframes preloader {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes preloader {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=index.css.map */